main .contenido .animal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    box-shadow: 0 0 5px #333;
    
}

main .contenido h2{
    text-align: center;
    padding: 20px;
}
main .contenido h3{
    font-size: 20px;
    padding-left: 20%;
}
